<!DOCTYPE html>

<html lang="en">


    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <title>ColdCut - Store (Shirts)</title>
        <meta name="description" content="FloraSora - Full-Stack Web Developer and Illustrator.">
        <meta name="keywords" content="portfolio, florasora, django, artist, illustrator, raster artist">
        <meta name="author" content="FloraSora and nK">
        <!--
        <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
        -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <h1>This is an example of Coldcut's upcoming E-Commerce website.</h1>
        <div>[Anyways, this is a div.]</div>
    </body>

</html>