{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-lg-4">
		
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6>T-Shirt</h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn" style="border-radius: 15px;">Add to Cart</button>
			<a class="btn btn-outline-success" style="border-radius: 15px" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

		</div>
	</div>

	<div class="col-lg-4">
		
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6>T-Shirt</h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn" style="border-radius: 15px;">Add to Cart</button>
			<a class="btn btn-outline-success" style="border-radius: 15px" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

		</div>

	</div>

	<div class="col-lg-4">
		
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6>T-Shirt</h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn" style="border-radius: 15px;">Add to Cart</button>
			<a class="btn btn-outline-success" style="border-radius: 15px" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

		</div>

	</div>

	<div class="col-lg-4">
		
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6>T-Shirt</h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn" style="border-radius: 15px;">Add to Cart</button>
			<a class="btn btn-outline-success" style="border-radius: 15px" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

		</div>

	</div>

	<div class="col-lg-4">
		
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6>T-Shirt</h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn" style="border-radius: 15px;">Add to Cart</button>
			<a class="btn btn-outline-success" style="border-radius: 15px" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

		</div>

	</div>

	<div class="col-lg-4">
		
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		<div class="box-element product">
			<h6>T-Shirt</h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn" style="border-radius: 15px;">Add to Cart</button>
			<a class="btn btn-outline-success" style="border-radius: 15px" href="#">View</a>
			<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

		</div>

	</div>

	
</div>


{% endblock content %}